@model MedAlarms.Controllers.LoginModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

Wassup Person!!(probably insert first name here)<br /><br />

Here are some awards you have won through your prowess at annotating<br /><br />

Here all the previous annotations you have done<br /><br />

Keep up the good work!!!<br /><br />
