@{
    ViewBag.Title = "Annotate";
}
<h1><center /> Annotate</h1></center>
<body>
 <div id="title">
                
<p> To annotate, click on the graph type from the menu</p>
</div>
<div id="menucontainer">
                <ul id="menu">
                <DIV align="left">
                    <br /><li>@Html.ActionLink("Graph Type 1", "Graph Type 1", "Home")
                    <br /><li>@Html.ActionLink("Graph Type 2", "Graph Type 2", "Home")
                    <br /><li>@Html.ActionLink("Graph Type 3", "Graph Type 3", "Home")
                    <br /><li>@Html.ActionLink("Graph Type 47", "Graph Type 4", "Home")
                    </li></li></li></li></br></br></br></br>
                    </DIV>
                </ul>
            </div>


</body>