@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

   <!--<p> To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.</p> -->
   <p>The purpose of this website is to aid the creation of a smart alarm system. In hospitals across the country, 
   current ECG medically alarms have a false alarm rate up to 90 percent. In order to create a more efficient and 
   safer alarm system, we have to start by creating a database of annotated alarms, telling us whether each alarm 
   is true or false. This information would help us in recognizing common factors of false alarms versus true alarms, 
   among other uses. With a large database of annotated alarms, we would be able to create a smart alarm system with 
   better speed and accuracy, potentially helping many patients and hospital staff. 
   All of this starts with you, right now! Help us with our vision by clicking on the annotate button above.</p>
<footer> UCLA Bioengineering 2012 </footer>
