@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_AnonLayout.cshtml";
    
}

@* This is the logout view that controls where you go after you logout*@

@model MedAlarms.Controllers.LoginModel

<h2>
    You are now logged out, please come back again to annotate some more!!! <br />
    <a href="/LogIn">Log In</a>
</h2>
@* These scripts allow for there to be both client side and user side validation on the login page *@
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

        <h1>Learn to Annotate Alarms</h1>
        <p> 
        	The purpose of this website is to aid the creation of a smart alarm system. 
            In hospitals across the country, current ECG medically alarms have a false alarm rate up to 90 percent.
             In order to create a more efficient and safer alarm system, we have to start by creating a database of
              annotated alarms, telling us whether each alarm is true or false. This information would help us in 
              recognizing common factors of false alarms versus true alarms, among other uses. With a large database 
              of annotated alarms, we would be able to create a smart alarm system with better speed and accuracy, 
              potentially helping many patients and hospital staff.  All of this starts with you, right now! 
              Help us with our vision by clicking on the annotate button above.
        </p>
        
      </div>

      
      <hr>

      <footer>

        <p>&copy; UCLA Bioengineering Department 2012</p>
      </footer>