@model MedAlarms.Controllers.LoginModel

@{
    ViewBag.Title = "AsystoleHowto";
}

<h2>How to Annotate an Asystole alarm</h2>


Look at these examples. This is how you annotate an asystole alarm. <br /><br />

Now that you know how, click on this button to start annotating asystole alarms.