
@*here is the view you will shown to start annotating asystole graphs*@

@model MedAlarms.Controllers.LoginModel

@{
    ViewBag.Title = "AsystoleGraphs";
}

<h2>Annotating Asystole Graphs</h2>


If you want some pointers on how to annotate this, go to the asystole how to page<br />
(button for the asystoleHowTo controller)<br /><br />

Here is an Asystole Graph, annotate this bad boy.<br />