
@* After clicking that they want to annotate something, they get to choose what type of alarm to annotate *@

@model MedAlarms.Controllers.LoginModel

@{
    ViewBag.Title = "Choose Alarm Type";
}

<h2>Choose Alarm Type</h2>

Click Here if you want to annotate an asystole alarm <br /><br />

Click Here if you want to annotate annotate a ventricular fibrillation alarm <br />